
<div class="content-container">
    <h1 class="content-section-title">Reverse Email Lookup</h1>
    <p class="content-section-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <ul class="list-container">
        <li class="list-element">
            <div class="list-element-container">
                <div class="number-container">
                    <h1 class="list-element-number">1</h1>
                </div>
                <div class="text-container">
                    <h2 class="list-element-title">
                        Lorem Ipsum
                    </h2>
                    <p class="list-element-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </li>
        <li class="list-element">
            <div class="list-element-container">
                <div class="number-container">
                    <h1 class="list-element-number">2</h1>
                </div>
                <div class="text-container">
                    <h2 class="list-element-title">
                        Lorem Ipsum
                    </h2>
                    <p class="list-element-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </li>
        <li class="list-element">
            <div class="list-element-container">
                <div class="number-container">
                    <h1 class="list-element-number">3</h1>
                </div>
                <div class="text-container">
                    <h2 class="list-element-title">
                        Lorem Ipsum
                    </h2>
                    <p class="list-element-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </li>
        <li class="list-element">
            <div class="list-element-container">
                <div class="number-container">
                    <h1 class="list-element-number">4</h1>
                </div>
                <div class="text-container">
                    <h2 class="list-element-title">
                        Lorem Ipsum
                    </h2>
                    <p class="list-element-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </li>
        <li class="list-element">
            <div class="list-element-container">
                <div class="number-container">
                    <h1 class="list-element-number">5</h1>
                </div>
                <div class="text-container">
                    <h2 class="list-element-title">
                        Lorem Ipsum
                    </h2>
                    <p class="list-element-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </li>
        <li class="list-element">
            <div class="list-element-container">
                <div class="number-container">
                    <h1 class="list-element-number">6</h1>
                </div>
                <div class="text-container">
                    <h2 class="list-element-title">
                        Lorem Ipsum
                    </h2>
                    <p class="list-element-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
