*{
    margin: 0;
    padding: 0;
}
.header-container{
    background: #004A80 ;
    height: 65px;
    padding: 0;
    margin: 0;

    display: flex;
    flex: row;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.nav {
    display:flex;
    flex-direction: row;
    list-style: none;
    padding: 0px 0px 0px 0px;
    justify-content: center;
}

.nav-li {
    display: flex;
    padding: 10px 10px 10px 10px;

}

@media only screen and (max-width: 1250px) {
    .logo {
    
        width: 75%;
    }
    .nav {
        width: 20%;
    }
}