<div class="search-container">
    <div class="search-section-title">
        <h1 class="title-search">Search Any Email Address</h1>
    </div>
    <div class="search-section-description-row">
        <p class="search-text-one">Start here</p>
        <p class="search-text-two"> - Look up the owner's name, photos and online profiles. See what you find!</p>
    </div>
    <div class="search-row">
        <form id="searchForm" action="" name="searchForm" onsubmit="return(validateEmail());">
            <input type="text" class="search-input" id="searchText" name="email" placeholder="EMAIL">
            <button class="btn-search" onclick="sendEmail(event);" >GO!</button>
        </form>     
    </div>
    <div class="warning-align-search">
        <div class="warning-container-hide" id="warning">
            <span class="search-warning ">Please add a valid email address</span>
        </div>
    </div>
    <div class="search-disclaimer-row">
        <img src="../../assets/lock.svg" alt="lock image">
        <p class="disclaimer-text">Enter Any Email Address. They won't be notified.</p>
    </div>
</div>