.search-container {
    background: #004A80 ;
    height: 344px;
}

.title-search {
    font-family: HelveticaNeue-Bold;
    font-size: 52px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.search-section-description-row {
    display: flex;
    justify-content: center;
    padding: 15px 0 0 0;
}

.search-text-one {
    font-family: HelveticaNeue-Bold;
    font-size: 24px;
    color: #F6BC25;
    letter-spacing: 0;
    text-align: center;
}

.search-text-two {
    font-family: HelveticaNeue;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 29px;
    padding: 0 0 0 10px;
}

.search-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 29px 0 0 0;
}

.search-input {
    width: 780px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
    border-radius: 3px;
}

.search-input-invalid {
    width: 780px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
    border-color: #DC0015;
    border-width: 4px;
}

input[id="searchText"] {
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 2px;
    line-height: 18px;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}



.btn-search {
    background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    width: 180px;
    border-radius: 6px;
    font-family: HelveticaNeue-Bold;
    font-size: 24px;
    color: #004A80;
    letter-spacing: 1px;
    text-align: center;
    height: 70px;
    margin: 0 0 0 20px;
}

.btn-search:hover {
    background: #F6BC25;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
}

.search-disclaimer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0 0 0;
    width: 69%;
}

.disclaimer-text {
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    color: #F6BC25;
    letter-spacing: 0;
    padding: 0 0 0 15px;
}

.warning-container {
    display: flex;
    justify-content: center;
    width: 250px;
    background: #DC0015;
    border-radius: 3px 3px 0 0;
    color: #ffffff;
}

.warning-align-search {
    margin: 0 0 0 24.1%;
}

.warning-container-hide {
    display: none;
}


@media only screen and (max-width: 1250px) {
    .search-input {
        margin:  0 25px 0 20px;
        width: 518px;
    }

    .search-input-invalid {
        width: 518px;
        height: 70px;
        background: #FFFFFF;
        box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
        border-color: #DC0015;
        border-width: 4px;
        margin:  0 25px 0 20px;
    }

    .search-text-two  {
        margin: 0 0 0 0;
    }
}


@media only screen and (max-width: 771px) {
    .search-input { 
        width: 418px;
        
    }

    .search-container {
        height: 423px;
    }

    .btn-search {
        width: 180px;
    }
}

@media only screen and (max-width: 768px) /*first breakpoint*/ { 
    .search-input { 
        width: 518px;
        height: 70px;
        background: #FFFFFF;
        box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
        border-radius: 3px;
    }
    
    .search-input-invalid {
        width: 518px;
        height: 70px;
    
    }

    .search-row {
        justify-content: flex-start;
        align-items: center;
    }
    .btn-search {
        position: absolute;
        margin: 10px 20px 0 0;
    }

    .title-search { 
        font-size: 48px;
    }

    .search-text-one {
        font-size: 20px;
    }

    .search-text-two {
        font-size: 20px;
    }

    .warning-align-search {
        margin: 0 0 0 2.9%;
    }
 }   

 @media only screen and (max-width: 414px) { /*iphone 6/7 google pixel 2*/
    .btn-search {
        position: initial;
        margin: 10px 20px 0 0;
    }
    .search-container {
        height: 467px;
    }
    .search-input {
        width: 280px;

    }
    .search-input-invalid{
        width: 280px;
       margin-bottom: 20px;
    }

    .search-row {
        padding-left: 35px;
    }

    .btn-search {
        width: 305px;
        margin-left: 20px;
    }

    .search-disclaimer-row {
        padding:20px  0 20px 50px;
    }

    .title-search {
        font-size: 38px;
        margin: 0 70px 0 70px;
    }

    .search-text-one {
        font-size: 18px;
        white-space: nowrap;
        margin: 4px 300px 40px 43px;
    }
    .search-text-two {
        position: absolute;
        font-size: 18px;
        width: 290px;
        margin: 0 0 40px 70px;
        text-align: center;
    } 

    .warning-container {
        width: 300px;
    }

    .warning-align-search {
        position: absolute;
        margin: -100px 0 5px 14%;
    }

    .search-section-title {
        padding: 0 0 0 0!important;
    }
 }  

 @media only screen and (max-width: 375px) {
    .search-row {
        padding-left: 20px;
    }

    .search-container {
        height: 500px;
    }
    .list-container {
        width: 90%;
    }
 }