.loading-container {
    background: #F8F8F8 ;
    height: 891px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
}

.loading-hiden {
    display: none;
}

.gif-container {
    width: 154px;
    
}

.gif {
    width: 154px;
}

.loading-message {
    font-family: HelveticaNeue-Bold;
    font-size: 24px;
    color: #004A80;
    letter-spacing: 0;
    text-align: center;
    padding-top: 28px;
}

@media only screen and (max-width: 768px) {
    .loading-container {
        height: 447px;
    }
}

@media only screen and (max-width: 414px) { 
    .loading-container {
        height: 307px;
    }
}

